examples/demo-flow.json
[
  {
    "id": "13c4e8e8f85d50b9",
    "type": "tab",
    "label": "Demo Flow",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "57c1f30f8a825e5c",
    "type": "group",
    "z": "13c4e8e8f85d50b9",
    "name": "",
    "style": {
      "label": true,
      "stroke": "#7fb7df"
    },
    "nodes": [
      "5792767043952f56",
      "15d852f4a29abec1",
      "16c12e22e1f3b257",
      "c4d08c57eec14060",
      "f69b62a66076edf1"
    ],
    "x": 14,
    "y": 19,
    "w": 972,
    "h": 122
  },
  {
    "id": "8f193a9c1fc939fb",
    "type": "group",
    "z": "13c4e8e8f85d50b9",
    "name": "",
    "style": {
      "stroke": "#c8e7a7",
      "label": true
    },
    "nodes": [
      "7376db537268899b",
      "bd18e498f7c61507",
      "19355c55dc280ad7",
      "0ef7c0721cf81927",
      "29aaf3383098e09e",
      "735b562a594841f3",
      "6a90881898ed3551",
      "ee3a2b0bc367a47e",
      "ca1a112e5c6cbdb2",
      "9acbf29beeba99c3",
      "ce937eb6b8c8ca65",
      "16d258ae4b97ca34",
      "78d3b0d5f0f884f4",
      "cf5f66733f714098",
      "fe80dd5b71c8eebe",
      "a8a4da4c647877d1",
      "4d5563941ff8ff6e",
      "108e033753b35f5a",
      "6e2869b197f278f5",
      "d8baeef2707a77b5",
      "1b5c69ac26a6eed7",
      "c87c1434f562e22c",
      "770a532dd82c2c5d"
    ],
    "x": 14,
    "y": 179,
    "w": 972,
    "h": 542
  },
  {
    "id": "2c9b5f4cd21831cb",
    "type": "group",
    "z": "13c4e8e8f85d50b9",
    "name": "Example with the reserved keywords INCREMENT and DECREMENT",
    "style": {
      "stroke": "#3f93cf",
      "label": true
    },
    "nodes": [
      "5395c1e6288eedd1",
      "a946387bbf0e9716",
      "909e56335c63fd16",
      "e8373909bb49fb32",
      "912544933b176de6",
      "fef3270b86843906"
    ],
    "x": 14,
    "y": 759,
    "w": 972,
    "h": 182
  },
  {
    "id": "6e01df90814d36ee",
    "type": "group",
    "z": "13c4e8e8f85d50b9",
    "name": "Example with the reserved keyword GEO_POINT",
    "style": {
      "stroke": "#3f93cf",
      "label": true
    },
    "nodes": [
      "de1b6f4ab2d8b0b4",
      "f0cecb01bbbe7392",
      "ca631f898f4bf2eb",
      "d70adefbde4ce04f",
      "5bae827171e8021e"
    ],
    "x": 14,
    "y": 979,
    "w": 972,
    "h": 122
  },
  {
    "id": "45c81e940e03c7ad",
    "type": "group",
    "z": "13c4e8e8f85d50b9",
    "name": "Example with the reserved keywords ARRAY_UNION and ARRAY_REMOVE",
    "style": {
      "stroke": "#3f93cf",
      "label": true
    },
    "nodes": [
      "94c2f365b9a463da",
      "68a19221021b89e8",
      "b9fa6ff72afcabbc",
      "2ed86237273bc776",
      "7d07f5bb953b20ea",
      "565c7a31633cb575",
      "2990484553b8b1e6"
    ],
    "x": 14,
    "y": 1139,
    "w": 972,
    "h": 182
  },
  {
    "id": "5792767043952f56",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "57c1f30f8a825e5c",
    "name": "Send Timestamp",
    "props": [
      {
        "p": "payload.timestamp",
        "v": "",
        "vt": "date"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "c4d08c57eec14060"
      ]
    ]
  },
  {
    "id": "7376db537268899b",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Add Alan",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"alanisawesome\":{\"date_of_birth\":\"June 23, 1912\",\"full_name\":\"Alan Turing\",\"nickname\":\"Alan The Machine\"}}",
    "payloadType": "json",
    "x": 120,
    "y": 260,
    "wires": [
      [
        "a8a4da4c647877d1"
      ]
    ]
  },
  {
    "id": "15d852f4a29abec1",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "57c1f30f8a825e5c",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.timestamp",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 100,
    "wires": []
  },
  {
    "id": "bd18e498f7c61507",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Add Steve",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"steveisapple\":{\"full_name\":\"Steve Jobs\",\"nickname\":\"Steve The King\",\"hobby\":\"Computer\"}}",
    "payloadType": "json",
    "x": 120,
    "y": 320,
    "wires": [
      [
        "a8a4da4c647877d1"
      ]
    ]
  },
  {
    "id": "19355c55dc280ad7",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Modify Alan Nickname",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"alanisawesome\":{\"nickname\":\"Alan is Genius\"}}",
    "payloadType": "json",
    "x": 160,
    "y": 440,
    "wires": [
      [
        "108e033753b35f5a"
      ]
    ]
  },
  {
    "id": "0ef7c0721cf81927",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Remove Steve",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"steveisapple\":\"DELETE\"}",
    "payloadType": "json",
    "x": 140,
    "y": 560,
    "wires": [
      [
        "d8baeef2707a77b5"
      ]
    ]
  },
  {
    "id": "29aaf3383098e09e",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.docs.users",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 280,
    "wires": []
  },
  {
    "id": "735b562a594841f3",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.docs.users",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 440,
    "wires": []
  },
  {
    "id": "6a90881898ed3551",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.docs.users",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 560,
    "wires": []
  },
  {
    "id": "ee3a2b0bc367a47e",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 680,
    "wires": []
  },
  {
    "id": "ca1a112e5c6cbdb2",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Get All Users",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 680,
    "wires": [
      [
        "770a532dd82c2c5d"
      ]
    ]
  },
  {
    "id": "9acbf29beeba99c3",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 680,
    "wires": []
  },
  {
    "id": "16c12e22e1f3b257",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "57c1f30f8a825e5c",
    "name": "Set Timestamp to \"timestampOverwrited\"",
    "info": "",
    "x": 220,
    "y": 60,
    "wires": []
  },
  {
    "id": "ce937eb6b8c8ca65",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Add Alan to \"users\"",
    "info": "",
    "x": 150,
    "y": 220,
    "wires": []
  },
  {
    "id": "16d258ae4b97ca34",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Modify the Alan's Nickname",
    "info": "",
    "x": 180,
    "y": 400,
    "wires": []
  },
  {
    "id": "78d3b0d5f0f884f4",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Remove Steve from \"users\" - Use the \"DELETE\" keyword",
    "info": "",
    "x": 270,
    "y": 520,
    "wires": []
  },
  {
    "id": "cf5f66733f714098",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Get All Users from \"users\"",
    "info": "",
    "x": 170,
    "y": 640,
    "wires": []
  },
  {
    "id": "fe80dd5b71c8eebe",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Print All Users Changes",
    "info": "",
    "x": 680,
    "y": 640,
    "wires": []
  },
  {
    "id": "5395c1e6288eedd1",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "Set index to 1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"index\":1}",
    "payloadType": "json",
    "x": 130,
    "y": 800,
    "wires": [
      [
        "912544933b176de6"
      ]
    ]
  },
  {
    "id": "a946387bbf0e9716",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "Increment by 1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"index\": \"INCREMENT 1\"}",
    "payloadType": "json",
    "x": 140,
    "y": 860,
    "wires": [
      [
        "912544933b176de6"
      ]
    ]
  },
  {
    "id": "909e56335c63fd16",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "Decrement by 1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"index\": \"DECREMENT 1\"}",
    "payloadType": "json",
    "x": 140,
    "y": 900,
    "wires": [
      [
        "912544933b176de6"
      ]
    ]
  },
  {
    "id": "e8373909bb49fb32",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.index",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 800,
    "wires": []
  },
  {
    "id": "c4d08c57eec14060",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "57c1f30f8a825e5c",
    "name": "Overwrite Timestamp",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "foo",
    "documentType": "str",
    "queryMethod": "set",
    "queryOptions": {
      "merge": true
    },
    "x": 440,
    "y": 100,
    "wires": []
  },
  {
    "id": "f69b62a66076edf1",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "57c1f30f8a825e5c",
    "name": "Timestamp Changes",
    "database": "e8796a1869e179bc",
    "collection": "",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "demo/foo",
    "documentType": "str",
    "filter": "none",
    "inputs": 0,
    "passThrough": false,
    "x": 670,
    "y": 100,
    "wires": [
      [
        "15d852f4a29abec1"
      ]
    ]
  },
  {
    "id": "a8a4da4c647877d1",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Add User",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "users",
    "documentType": "str",
    "queryMethod": "set",
    "queryOptions": {
      "merge": true
    },
    "x": 300,
    "y": 280,
    "wires": []
  },
  {
    "id": "4d5563941ff8ff6e",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "User added",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "",
    "documentType": "str",
    "filter": "added",
    "inputs": 0,
    "passThrough": false,
    "x": 650,
    "y": 280,
    "wires": [
      [
        "29aaf3383098e09e"
      ]
    ]
  },
  {
    "id": "108e033753b35f5a",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Update User Nickname",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "users",
    "documentType": "str",
    "queryMethod": "update",
    "queryOptions": {
      "merge": false
    },
    "x": 410,
    "y": 440,
    "wires": []
  },
  {
    "id": "6e2869b197f278f5",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "User Modified",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "",
    "documentType": "str",
    "filter": "modified",
    "inputs": 0,
    "passThrough": false,
    "x": 650,
    "y": 440,
    "wires": [
      [
        "735b562a594841f3"
      ]
    ]
  },
  {
    "id": "d8baeef2707a77b5",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Remove User",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "users",
    "documentType": "str",
    "queryMethod": "update",
    "queryOptions": {
      "merge": false
    },
    "x": 340,
    "y": 560,
    "wires": []
  },
  {
    "id": "1b5c69ac26a6eed7",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "User Removed",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "",
    "documentType": "str",
    "filter": "removed",
    "inputs": 0,
    "passThrough": false,
    "x": 660,
    "y": 560,
    "wires": [
      [
        "6a90881898ed3551"
      ]
    ]
  },
  {
    "id": "c87c1434f562e22c",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "All Users Changes",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "users",
    "documentType": "str",
    "filter": "none",
    "inputs": 0,
    "passThrough": false,
    "x": 670,
    "y": 680,
    "wires": [
      [
        "ee3a2b0bc367a47e"
      ]
    ]
  },
  {
    "id": "912544933b176de6",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "foo",
    "documentType": "str",
    "queryMethod": "set",
    "queryOptions": {
      "merge": true
    },
    "x": 350,
    "y": 800,
    "wires": []
  },
  {
    "id": "fef3270b86843906",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "2c9b5f4cd21831cb",
    "name": "Index Changes",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "foo",
    "documentType": "str",
    "filter": "none",
    "inputs": 0,
    "passThrough": false,
    "x": 660,
    "y": 800,
    "wires": [
      [
        "e8373909bb49fb32"
      ]
    ]
  },
  {
    "id": "770a532dd82c2c5d",
    "type": "firestore-get",
    "z": "13c4e8e8f85d50b9",
    "g": "8f193a9c1fc939fb",
    "name": "Get Users",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "users",
    "documentType": "str",
    "passThrough": false,
    "x": 300,
    "y": 680,
    "wires": [
      [
        "9acbf29beeba99c3"
      ]
    ]
  },
  {
    "id": "de1b6f4ab2d8b0b4",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "6e01df90814d36ee",
    "name": "Set Geo Point",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"geo-point\":{\"GEO_POINT\":{\"latitude\":70,\"longitude\":25}}}",
    "payloadType": "json",
    "x": 130,
    "y": 1020,
    "wires": [
      [
        "ca631f898f4bf2eb"
      ]
    ]
  },
  {
    "id": "f0cecb01bbbe7392",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "6e01df90814d36ee",
    "name": "debug 14",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 1020,
    "wires": []
  },
  {
    "id": "ca631f898f4bf2eb",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "6e01df90814d36ee",
    "name": "",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "foo",
    "documentType": "str",
    "queryMethod": "set",
    "queryOptions": {
      "merge": true
    },
    "x": 350,
    "y": 1020,
    "wires": []
  },
  {
    "id": "d70adefbde4ce04f",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "6e01df90814d36ee",
    "name": "Index Changes",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "foo",
    "documentType": "str",
    "filter": "none",
    "inputs": 0,
    "passThrough": false,
    "x": 660,
    "y": 1020,
    "wires": [
      [
        "f0cecb01bbbe7392"
      ]
    ]
  },
  {
    "id": "5bae827171e8021e",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "6e01df90814d36ee",
    "name": "Read me for more info",
    "info": "To use a `Geo Point`, the `GEO_POINT` keyword must be used as follow:\n```js\n// This is the field value\nconst myGeoPoint = {\n    GEO_POINT: {\n        latitude: 10,\n        longitude: 20\n    }\n};\n\n// So the payload looks like:\nmsg.payload = {\n    \"my-geo-point-field-name\": myGeoPoint\n};\n```",
    "x": 140,
    "y": 1060,
    "wires": []
  },
  {
    "id": "94c2f365b9a463da",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "Set an empty array",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"array\":[]}",
    "payloadType": "json",
    "x": 150,
    "y": 1180,
    "wires": [
      [
        "b9fa6ff72afcabbc"
      ]
    ]
  },
  {
    "id": "68a19221021b89e8",
    "type": "debug",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "debug 15",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.array",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 1180,
    "wires": []
  },
  {
    "id": "b9fa6ff72afcabbc",
    "type": "firestore-out",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "document": "foo",
    "documentType": "str",
    "queryMethod": "set",
    "queryOptions": {
      "merge": true
    },
    "x": 410,
    "y": 1180,
    "wires": []
  },
  {
    "id": "2ed86237273bc776",
    "type": "firestore-in",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "Index Changes",
    "database": "e8796a1869e179bc",
    "collection": "demo",
    "collectionType": "str",
    "collectionGroup": "",
    "collectionGroupType": "str",
    "constraints": {},
    "document": "foo",
    "documentType": "str",
    "filter": "none",
    "inputs": 0,
    "passThrough": false,
    "x": 660,
    "y": 1180,
    "wires": [
      [
        "68a19221021b89e8"
      ]
    ]
  },
  {
    "id": "7d07f5bb953b20ea",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "Remove the String \"bar\"",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"array\":{\"ARRAY_REMOVE\":\"bar\"}}",
    "payloadType": "json",
    "x": 170,
    "y": 1280,
    "wires": [
      [
        "b9fa6ff72afcabbc"
      ]
    ]
  },
  {
    "id": "565c7a31633cb575",
    "type": "inject",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "Push the String \"bar\"",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"array\":{\"ARRAY_UNION\":\"bar\"}}",
    "payloadType": "json",
    "x": 160,
    "y": 1240,
    "wires": [
      [
        "b9fa6ff72afcabbc"
      ]
    ]
  },
  {
    "id": "2990484553b8b1e6",
    "type": "comment",
    "z": "13c4e8e8f85d50b9",
    "g": "45c81e940e03c7ad",
    "name": "Read me for more info",
    "info": "To use a `Array Union` or `Array Remove`, keywords must be used as follow:\n```js\n// This is the field value\nconst myNewValueToPush = {\n    ARRAY_UNION: \"bar\"\n};\n\n// And to remove\nconst myValueToRemove = {\n    ARRAY_REMOVE: \"bar\"\n};\n\n// So the payload looks like:\nmsg.payload = {\n    \"my-array\": myNewValueToPush\n};\n```\n\n***NOTE***: Keywords cannot be used inside an array!!!",
    "x": 440,
    "y": 1240,
    "wires": []
  },
  {
    "id": "e8796a1869e179bc",
    "type": "firebase-config",
    "name": "My Database",
    "authType": "privateKey",
    "claims": {},
    "createUser": false,
    "status": {
      "firestore": false,
      "storage": false
    },
    "useClaims": false
  }
]